<h1><%= domain_name %></h1>
<div class="cards">
  <% aggregates.each do |agg| %>
    <a href="<%= agg[:href] %>" class="card">
      <h2><%= agg[:name] %></h2>
      <p class="mono"><%= agg[:commands] %> commands &middot; <%= agg[:attributes] %> attributes</p>
    </a>
  <% end %>
</div>
