<h1><%= aggregate_name %></h1>
<div class="detail">
  <dl>
    <dt>ID</dt>
    <dd class="mono"><%= item[:id] %></dd>
    <% item[:fields].each do |field| %>
      <dt><%= field[:label] %></dt>
      <dd>
        <% if field[:type] == :list %>
          <% if field[:items].empty? %>
            (none)
          <% else %>
            <ul>
              <% field[:items].each do |li| %>
                <li><%= li %></li>
              <% end %>
            </ul>
          <% end %>
        <% else %>
          <%= field[:value] %>
        <% end %>
      </dd>
    <% end %>
  </dl>
</div>
<div class="actions">
  <a href="<%= back_href %>" class="btn btn-sm">Back</a>
  <% buttons.each do |btn| %>
    <a class="btn btn-sm<%= ' btn-faded' unless btn[:allowed] %>" href="<%= btn[:href] %>"><%= btn[:label] %></a>
  <% end %>
</div>
