<h1>Order <%= @pizza.name %></h1>

<%= form_with(model: @order, url: pizza_orders_path(@pizza)) do |f| %>
  <%= f.hidden_field :pizza_id, value: @pizza.id %>
  <div>
    <%= f.label :quantity %>
    <%= f.number_field :quantity, min: 1, value: 1 %>
  </div>
  <div><%= f.submit "Place Order" %></div>
<% end %>

<p><%= link_to "Back", pizza_path(@pizza) %></p>
