<h1><%= command_name %></h1>
<% if error_message %>
  <div class="flash-error"><%= error_message %></div>
<% end %>
<form method="post" action="<%= action %>">
  <% fields.each do |field| %>
    <% if field[:type] == :hidden %>
      <input type="hidden" name="<%= field[:name] %>" value="<%= field[:value] %>">
    <% elsif field[:type] == :select %>
      <label><%= field[:label] %><% if field[:required] %><span class="required">required</span><% end %></label>
      <select name="<%= field[:name] %>" required>
        <% field[:options].each do |opt| %>
          <option value="<%= opt[:value] %>"<%= ' selected' if opt[:selected] %>><%= opt[:label] %></option>
        <% end %>
      </select>
      <% if field[:error] %>
        <div class="field-error"><%= field[:error] %></div>
      <% end %>
    <% elsif field[:type].to_s == "enum" %>
      <label><%= field[:label] %><% if field[:required] %><span class="required">required</span><% end %></label>
      <select name="<%= field[:name] %>" required>
        <% (field[:options] || []).each do |opt| %>
          <option value="<%= opt %>"<%= ' selected' if opt == field[:value] %>><%= opt %></option>
        <% end %>
      </select>
      <% if field[:error] %>
        <div class="field-error"><%= field[:error] %></div>
      <% end %>
    <% else %>
      <label><%= field[:label] %><% if field[:required] %><span class="required">required</span><% end %></label>
      <input name="<%= field[:name] %>" type="<%= field[:input_type] || 'text' %>"
             value="<%= field[:value] %>"<%= ' step="any"' if field[:step] %> required>
      <% if field[:error] %>
        <div class="field-error"><%= field[:error] %></div>
      <% end %>
    <% end %>
  <% end %>
  <button class="btn" type="submit"><%= command_name %></button>
</form>
