<% if pizza.errors.any? %>
  <div class="errors">
    <h3><%= pluralize(pizza.errors.count, "error") %>:</h3>
    <ul>
      <% pizza.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: pizza, url: pizza.persisted? ? pizza_path(pizza) : pizzas_path) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 3 %>
  </div>
  <div><%= f.submit %></div>
<% end %>
