<h1>Pizzas</h1>
<p><%= link_to "New Pizza", new_pizza_path %></p>

<% if @pizzas.empty? %>
  <p>No pizzas yet. Create one!</p>
<% end %>

<% @pizzas.each do |pizza| %>
  <div class="card">
    <h2><%= link_to pizza.name, pizza_path(pizza) %></h2>
    <p><%= pizza.description %></p>
    <div class="actions">
      <%= link_to "Edit", edit_pizza_path(pizza) %> |
      <%= link_to "Order", new_pizza_order_path(pizza) %> |
      <%= link_to "Delete", pizza_path(pizza), data: { turbo_method: :delete, turbo_confirm: "Sure?" } %>
    </div>
  </div>
<% end %>
