<h1><%= @pizza.name %></h1>
<p><%= @pizza.description %></p>

<% if @pizza.toppings.any? %>
  <h3>Toppings</h3>
  <ul>
    <% @pizza.toppings.each do |t| %>
      <li><%= t.name %> &times; <%= t.amount %></li>
    <% end %>
  </ul>
<% end %>

<div class="actions">
  <%= link_to "Edit", edit_pizza_path(@pizza) %> |
  <%= link_to "Order", new_pizza_order_path(@pizza) %> |
  <%= link_to "Back", pizzas_path %>
</div>
